.header__nav {
    width: 100%;
    border-bottom: 1px solid #fff;
    height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all .3s;

    &-2 {
        background-color: #000 !important;
        border-bottom: none !important;
    }

    @include respond(tab-land) {
        background-color: $color-black !important;
        border-bottom: none !important;
    }

    & .fad {
        color: $color-white;
        position: absolute;
        float: right;
        right: 2rem;
        top: 2rem;
        font-size: 3rem;
        display: none;

        @media screen and (max-width: 990px) {
            display: block;
        }
    }

    &--logo {
        width: 100%;

        & img {
            height: 10rem;
            transform: scale(1.4);
            margin-top: -1.7rem;

            @include respond(tab-land) {
                transform: scale(1.35);
            }
        }
    }

    & ul {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.2rem;
        z-index: 10;
        transition: all .3s;

        @media screen and (max-width: 991px) {
            display: block;
            margin-top: 0;
            background-image: linear-gradient(to right, #2d2d2d, #000);
            height: 0;
            overflow: hidden;
            border-radius: .8rem;
        }


        @include respond(tab-port) {}

        & .btn {
            background-color: $color-white;

            &::before,
            &::after {
                display: none;
            }

            & a {
                color: $color-black;
            }

            &-2 {
                background-color: $color-primary;

                &:hover a {
                    color: $color-black;
                }

                & a {
                    color: $color-white;
                }
            }
        }

        & li {
            display: inline;
            padding: .8rem 1.2vw;
            position: relative;
            overflow: hidden;

            @include respond(tab-land) {
                display: block;
                margin-bottom: 1rem;
            }

            &:hover a {
                color: $color-primary;
            }

            &::before {
                width: 100%;
                height: 2px;
                background-color: $color-primary;
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                transform: translateX(100%);
                transition: all .3s;
            }

            &::after {
                width: 100%;
                height: 2px;
                background-color: $color-primary;
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                transform: translateX(-100%);
                transition: all .3s;
            }

            &:hover::before {
                transform: translateX(0);
            }

            &:hover::after {
                transform: translateX(0);
            }

            & a {
                color: $color-white;
                font-size: 1.5rem;
                font-family: 'Poppins';
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
}