.section-event {


    & .btn-yel {
        color: $color-white;
        font-size: 1.7rem;
        font-family: 'Oswald';
        padding: 1.2rem 4rem;
        background-color: $color-black;
        text-decoration: none;
        border-radius: 0.3rem;
        transition: all .3s;
        text-transform: uppercase;
        position: relative;
        transform: translateX(-50%);
        left: 45%;

        @include respond(tab-port) {
            left: 0;
            transform: translateX(0);
            top: -5rem;
        }
        
        &:hover {
            letter-spacing: .2rem;
            background-color: $color-primary;
        }
    }

    & .row {
        margin-bottom: 5rem;

        @include respond(tab-port) {
            margin-bottom: 2rem;
        }
        
        & .col-lg-6 {

            &:last-child {
                padding: 8rem 3rem;
                font-family: 'Poppins';

                @include respond(tab-port) {
                    padding: 6rem 2rem;
                }

                & h1 {
                    font-size: 3rem;
                    margin-bottom: 2rem;
                }

                & .text {
                    font-size: 1.5rem;
                    margin-bottom: 2rem;
                    line-height: 1.7;
                    color: #5a5a5a;
                }

                & ul {
                    margin-top: 1rem;

                    & li {
                        list-style: none;
                        padding: .6rem 0;
                        font-size: 1.4rem;

                        & i {
                            margin-right: 1rem;
                        }
                    }
                }
            }

            & img {
                width: 100%;
            }
        }
    }
}